.container {
  width: 25%;
  background-color: #fff;
  height: 500px;
  box-shadow: 2px 5px 27px -8px rgba(0, 0, 0, 0.15);
  transition: 150ms;
  border-radius: 1rem;
}
.container:hover {
  box-shadow: 2px 5px 27px -8px rgba(0, 0, 0, 0.4);
}

.wrapper {
  padding: 1.25rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 1rem;
}

.blogData {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}
.blogData h3 {
  font-size: 2rem;
  color: #333;
  font-weight: 500;
}
.blogData p {
  font-size: 1.2rem;
  color: #333;
  max-width: 180px;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 1rem;
}

.like {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-size: 20px;
}
.createdBy {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.createdBy p {
  font-size: .9rem;
  color: #333;
  font-weight: 500;
}
.createdBy span {
  font-size: .8rem;
  color: #333;
  font-weight: 300;
}
